# Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.out

.DS_Store     # macOS

# Go workspace file
go.work.sum

# Environment files
.env
.env.development
.env.production

# Other common files
report-*.json
dist/
build/
coverage/
tmp/
